<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/admin/home">{{l10n "Home"}}</a>
    </li>
    <li class="breadcrumb-item active">{{l10n "Conversation Management"}}</li>
</ol>

<header class="header bg-ui-general">
    <div class="header-info">
        <h1 class="header-title">
            {{l10n "Conversation Management"}}
        </h1>
    </div>

    <div class="header-action">
        <nav class="nav">
            <a class="nav-link" href="/admin/conversation/user">Private Chats</a>
            <a class="nav-link" href="/admin/conversation/group">Group Chats</a>
            <a class="nav-link active" href="/admin/conversation/room">Rooms</a>
        </nav>
    </div>

</header>

<hr /> {{> alertMessage }}

<div class="row">

    <div class="col-12">

        <div class="card">

            <div class="card-body">

                <div class="row">

                    {{#if selectedRoom}}

                        <div class="col-sm-3">
                            <a class="btn btn-label btn-info" href="/admin/conversation/room">
                                <label>
                                    <i class="ti-arrow-left"></i>
                                </label> {{l10n "Back"}}</a>
                        </div>

                        <div class="col-sm-3">
                            <form method="post" action="/admin/conversation/delete/3-{{roomID}}" id="searchform" class="form-inline">
                                <button type="submit" class="btn btn-danger">{{l10n "Delete"}}</button>

                            </form>
                        </div>

                    {{/if}}


                    <div class="col-sm-6">

                        {{#unless selectedRoom}}
                            <form method="get" action="/admin/conversation/room" id="searchform" class="form-inline">
                        {{/unless}}

                        {{#if selectedRoom}}
                            <form method="get" action="/admin/conversation/room/{{selectedRoom._id}}" id="searchform" class="form-inline">
                        {{/if}}

                        <div class="form-group">
                            <input type="text" name="keyword" id="tb-keyword" class="form-control" value="{{keyword}}" placeholder="{{l10n "type keyword here..."}}">
                        </div>

                        {{#if keyword}}
                            <button type="button" id="btn-clear" name="clear" value="clear" class="btn btn-danger">{{l10n "Clear"}}</button>
                        {{/if}}

                        <button type="submit" class="btn btn-primary btnSearch">{{l10n "Search"}}</button>

                        </form>

                    </div>

                </div>

                <hr />

                <div class="row">

                    {{#if selectedRoom}}

                        <div class="col-sm-3">

                            <table class="table table-hover">

                                <thead>
                                    <tr>
                                        <th colspan="2">
                                            <strong>
                                                {{l10n "Room"}}
                                            </strong>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>

                                    <tr class="cursor-pointer" onclick="location.href='/admin/conversation/room/{{selectedGroup._id}}/'">

                                        <td width="25%">
                                            <img class="list-thumbnail img-rounded" src="{{showAvatar selectedRoom.avatar.thumbnail.nameOnServer _id}}" />
                                        </td>

                                        <td class="list-edit-link">
                                            {{selectedRoom.name}}
                                        </td>

                                    </tr>

                                </tbody>

                            </table>

                        </div>

                    {{/if}}

                    {{#unless selectedRoom}}

                        <div class="col-sm-3">

                            <table class="table table-hover">

                                <thead>
                                    <tr>
                                        <th colspan="2">
                                            <strong>
                                                {{l10n "Rooms"}}
                                            </strong>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>

                                    {{#each list}}

                                        <tr class="cursor-pointer" onclick="location.href='/admin/conversation/room/{{_id}}/'">

                                            <td width="25%">
                                                <img class="list-thumbnail img-rounded" src="{{showAvatar avatar.thumbnail.nameOnServer _id}}" />
                                            </td>

                                            <td class="list-edit-link">
                                                {{name}}
                                            </td>

                                        </tr>

                                    {{/each}}

                                </tbody>

                            </table>

                        </div>

                    {{/unless}}

                    {{#if selectedRoom}}

                        <div class="col-sm-6">

                            <table class="table table-hover">

                                <thead>
                                    <tr>
                                        <th colspan="3">
                                            {{l10n "Messages"}}
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>

                                    {{#each message}}

                                        <tr>
                                            <td width="15%" rowspan="2">
                                                <img class="list-thumbnail img-rounded" src="{{showAvatar user.avatar.thumbnail.nameOnServer user._id}}" />
                                            </td>

                                            <td class="list-edit-link">
                                                {{#isEqual type 1}}
                                                    <strong>{{message}}</strong>
                                                {{/isEqual}}

                                                {{#isEqual type 2}}
                                                    <a href="/api/v2/file/{{file.file.id}}" target="_blank">
                                                        {{file.file.name}}
                                                    </a>
                                                    <br />

                                                    <i>{{size file.file.size}}</i>
                                                {{/isEqual}}

                                                {{#isEqual type 3}}
                                                    Shared Location
                                                    <br /> Lat: {{location.lat}} Lon: {{location.lat}}
                                                {{/isEqual}}

                                                {{#isEqual type 3}}
                                                    Shared Contact
                                                {{/isEqual}}

                                                {{#isEqual type 5}}
                                                    <img width="150px" src="{{message}}">
                                                {{/isEqual}}

                                            </td>
                                        </tr>

                                        <tr>

                                            <td>
                                                By {{user.name}} {{formatDate created}}
                                            </td>

                                        </tr>

                                    {{/each}}

                                </tbody>

                            </table>

                        </div>

                    {{/if}}

                </div>

            </div>

        </div>

        {{> paginator }}

    </div>

</div>

<script type="text/javascript">

    $(document).ready(function () {

        $('#btn-clear').on('click', function () {
            $('#tb-keyword').val('');
            $('#searchform').submit();
        });

        $('#chk-showUsersWithoutDepartments').on('change', function () {
            $('#searchform').submit();
        });

    });

    function openModal(id) {

        $('#btnResetDevice').attr('href', "/admin/user/resetDevice/" + id);

        $('#myModal').modal({
            keyboard: false
        })

    }

</script>