<div id="chat-detail">
    
</div>

<ul id="messages-tab" style="display:none">
    
    <!-- <li class="tab-selector" tab="file" id="messages-tab-files">{{l10n "Files"}}</li>
    <li class="tab-selector" tab="picture" id="messages-tab-pictures">{{l10n "Pictures"}}</li>
    <li class="tab-selector" tab="url" id="messages-tab-urls">{{l10n "URLs"}}</li>
    <li class="tab-selector selected" tab="detail" id="messages-tab-detail">{{l10n "Message"}}</li>
    -->
    
</ul>

<div class="clearfix"></div>

<div id="message-info-title" style="display:none">{{l10n "Message Detail"}}</div>

<div class="tab-panel" id="messages-tab-files-panel" style="display:none">
    
    <div class="alert alert-warning" role="alert">{{l10n "Sorry this feature comming soon.."}}</div>
    
</div>

<div class="tab-panel" id="messages-tab-pictures-panel" style="display:none">
    
    <div class="alert alert-warning" role="alert">{{l10n "Sorry this feature comming soon.."}}</div>
    
</div>

<div class="tab-panel" id="messages-tab-urls-panel" style="display:none">
    
    <div class="alert alert-warning" role="alert">{{l10n "Sorry this feature comming soon.."}}</div>
    
</div>

<div class="tab-panel" id="messages-tab-detail-panel">
    
    
</div>