<div id="message-info-container">

    <div class="deltedalert alert alert-danger">
        {{l10n "This message is deleted at "}} {{{formatDate deleted}}}
    </div>

    <ul class="menu"  id="message-action-container">
        
        <li id="btn-forward">
            <a href="javascript:void(0)">
                <i class="fa fa-share"></i> {{l10n "Forward"}}
            </a>
        </li>
        
        {{#if isFavorite}}<li id="btn-removefromfavorite">
            <a href="javascript:void(0)">
                <i class="fa fa-heart"></i> {{l10n "Remove from favorite"}}
            </a>
        </li> {{/if}}
        
        
        {{#unless isFavorite}} 
            <a href="javascript:void(0)">
                <li id="btn-addtofavorite"><i class="fa fa-heart-o"></i> {{l10n "Add to favorite"}}
            </a>
        </li>{{/unless}}
        
        <li class="red-bg" id="btn-deletemessage">
            <a href="javascript:void(0)"><i class="fa fa-share"></i> {{l10n "Delete Message"}}</a>
        </li>

    </ul>
    
    <table class="table">

        <!-- <tr><td>{{l10n "MessageID"}}</td><td>{{{id}}}</td><td class="action"><i class="fa fa-link" id="btn-getlink"></i></td></tr> -->
        <tr><td>{{l10n "Sender"}}</td><td>{{{user.name}}}</td><td></td></tr>
        <tr><td>{{l10n "Sent At"}}</td><td>{{{formatDate created}}}</td><td></td></tr>
    
    </table>

    {{#if seenBy}}
        <h4>{{l10n "Users Seen"}}</h4>
    {{/if}}
    <table class="table users">
        
    {{#each seenBy}}
        <tr>
            <td width="30px"><img src="{{user.avatarURL}}" class="img-circle"/></td>
            <td>{{user.name}}</td>
            <td>{{{formatDate at}}}
        </td></tr>
    {{~/each}}
    
    </table>

</div>


    