
    <div class="chat-info detail-room">
        
        <div class="img-holder">
            <img class="img-circle" src="/api/v2/avatar/room/{{room.avatar.thumbnail.nameOnServer}}" />
        </div>

        <span class="chat-name">{{room.name}}</span><br />
        
        <span class="chat-description">{{room.description}}</span><br />
        
        <div class="clearfix"></div>
    </div>

    <ul class="onlineusers">

        
    </ul>
    
    <ul class="menu">


        <li>
            <a href="javascript:void(0)" class="disabled">
                {{l10n "Notification"}}

                <div class="switch-container">
                    <input type="checkbox" name="checkbox-notify">
                </div>
            </a>

        </li>
                
        <li>
            <a href="javascript:void(0)" id="btn-copychatid" chatid="{{chatId}}">
                <img class="icon" src="/images/UI/clipboard.png" /> {{l10n "Copy ChatID"}}<br />
            </a>
        </li>
        
        <li><a href="javascript:void(0)" id="btn-roomdetail">{{l10n "Show Detail"}}</a></li>
        
        {{#condition loginUser._id room.owner}}
        
            <li><a href="javascript:void(0)" id="btn-editroom">{{l10n "Edit Room Profile"}}</a></li>
            <li class="red-bg"><a href="javascript:void(0)" id="btn-leaveroom">{{l10n "Delete Room"}}</a></li>
            
        {{/condition}}

        {{#conditionNot loginUser._id room.owner}}
        
            <li class="red-bg"><a href="javascript:void(0)" id="btn-leaveroom">{{l10n "Leave Room"}}</a></li>
            
        {{/conditionNot}}
        
    </ul>

    