
    <div class="chat-info detail-user" id="{{user._id}}">
        
        <div class="img-holder">
            <img class="img-circle" src="/api/v2/avatar/user/{{user.avatar.thumbnail.nameOnServer}}" />
            {{#if user.onlineStatus}}  <img class="img-circle onlineicon" src="/images/onlineIcon.png" /> {{/if}}
        </div>
        
        <span class="chat-name">
                {{user.name}}@{{user.organization.organizationId}}
        </span><br />
        
        <span class="chat-description">{{user.description}}</span><br />
        
        <div class="clearfix"></div>
    </div>
        
    <ul class="menu">
        
        <li>
            <a href="javascript:void(0)" class="disabled">
                {{l10n "Notification"}}

                <div class="switch-container">
                    <input type="checkbox" name="checkbox-notify">
                </div>
                    
            </a>
        </li>

        <li>
            <a href="javascript:void(0)" class="disabled">
                {{l10n "Block"}}

                <div class="switch-container">
                    <input type="checkbox" name="checkbox-block">
                </div>
                    
            </a>
        </li>

        <li>
            <a href="javascript:void(0)" id="btn-audiocall">
                <img class="icon" src="/images/UI/audio_call.png" /> {{l10n "Make audio call"}}
            </a>
        </li>

        <li>
            <a href="javascript:void(0)" id="btn-videocall">
                <img class="icon" src="/images/UI/video_call.png" /> {{l10n "Make video call"}}
            </a>
        </li>
        
        <!-- <li><a href="javascript:void(0)" id="btn-editprofile">{{l10n "Show Profile"}}</a></li> -->

    </ul>
    