<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive admin dashboard and web application ui kit. ">
    <meta name="keywords" content="blank, starter">

    <title>{{l10n "Spika For Business Owner"}}</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300i" rel="stylesheet">

    <!-- Styles -->
    <link href="{{AssetURL}}/css/core.min.css" rel="stylesheet">
    <link href="{{AssetURL}}/css/app.min.css" rel="stylesheet">
    <link href="{{AssetURL}}/css/style.min.css" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="57x57" href="{{AssetURL}}/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{AssetURL}}/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{AssetURL}}/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{AssetURL}}/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{AssetURL}}/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{AssetURL}}/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{AssetURL}}/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{AssetURL}}/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{AssetURL}}/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="{{AssetURL}}/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{AssetURL}}/favicons/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="{{AssetURL}}/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="{{AssetURL}}/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="{{AssetURL}}/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{AssetURL}}/favicons/manifest.json">
    <link rel="mask-icon" href="{{AssetURL}}/favicons/safari-pinned-tab.svg" color="#5bbad5">

    <script src="{{AssetURL}}/js/jquery-3.2.1.min.js"></script>

</head>


<body>

    {{{body}}}

    <!-- Scripts -->
    <script src="{{AssetURL}}/js/core.min.js"></script>
    <script src="{{AssetURL}}/js/app.min.js"></script>
    <script src="{{AssetURL}}/js/script.min.js"></script>

</body>

</html>