<ol class="breadcrumb">
    <li><a href="/admin/home">{{l10n "Home"}}</a></li>
    <li class="active">{{l10n "User Management"}}</li>
</ol>

<h1 style="max-width:50%; display: inline-block;">{{l10n "User Management"}}</h1>

<button type="button" class="btnAddNew pull-right" onClick="location.href = '/admin/user/add';">
    <i class="fa fa-plus" style="margin-right:10px;"></i>
    {{l10n "Add New"}}
</button>

<button type="button" class="btnAddNew pull-right" onClick="location.href = '/admin/user/import';">
    <i class="fa fa-arrow-down" style="margin-right:10px;"></i>
    {{l10n "Import"}}
</button>

<h3 style="margin-top:10px">{{l10n "Number of users in organization:"}} <strong>{{numberOfUsers}}</strong> {{l10n "of max"}} <strong>{{maxUserNumber}}</strong></h3>

<hr />

{{> alertMessage }}

<div class="searchbar">
    <form method="post" action="/admin/user/search" id="searchform" class="form-inline">

        {{#if organizationAdmin}}
            <label class="checkbox-inline checkbox-search">
                <input type="checkbox" name="showUsersWithoutDepartments" id="chk-showUsersWithoutDepartments" value="1" {{{checkedIfEqual showUsersWithoutDepartments 1}}} />{{l10n "Show users without departments"}}
            </label>
        {{/if}}

        <div class="form-group">
            <input type="text" name="keyword" id="tb-keyword" class="form-control" value="{{keyword}}" placeholder="{{l10n "type keyword here..."}}">
        </div>
        
        {{#if keyword}}
            <button type="button" id="btn-clear" name="clear" value="clear" class="btn btn-danger" >{{l10n "Clear"}}</button>
        {{/if}}

        <button type="submit" class="btn btn-primary btnSearch">{{l10n "Search"}}</button>
        
        
    </form>
</div>

{{> paginator }}

<table class="table table-hover">
    
    <thead>
        <tr>
            <th width="5%"></th>
            <th>
                {{l10n "Name"}}<br />
            </th>
            <th width="25%">{{l10n "Groups / Departments"}}</th>
            <th width="15%">{{l10n "User ID"}}</th>
            <th width="15%">{{l10n "Created At"}}</th>
            <th width="5%"></th>
            <th width="5%"></th>
        </tr>
    </thead>
    
    <tbody>
    {{#each list}}

        <tr>
            <td> 
                <img class="list-thumbnail img-rounded" src="{{showAvatar avatar.thumbnail.nameOnServer}}" />
            </td>
            <td class="list-edit-link">
                {{#if showEditDelete}}
                    <a href="/admin/user/edit/{{_id}}">
                        <strong>{{name}}</strong>
                    </a>
                {{else}}
                    <strong>{{name}}</strong>
                {{/if}}  
                <br/>
                <span class="small">{{_id}}</span>
            </td>
            <td>{{groupNames}}</td>
            <td>{{userid}}</td>
            <td>{{formatDate created}}</td>
            <td colspan="2">

                <!-- Single button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{l10n "Action"}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        {{#if showEditDelete}}  <li><a href="/admin/user/edit/{{_id}}">{{l10n "Edit"}}</a></li>{{/if}}
                        {{#if showEditDelete}}
                            {{#unless (checkIfUserIsOrganizationAdmin permission)}}  
                                <li><a href="/admin/user/delete/{{_id}}">{{l10n "Delete"}}</a></li>
                            {{/unless}}    
                        {{/if}}
                        <li><a href="/admin/user/devices/{{_id}}">{{l10n "Devices"}}</a></li>
                    </ul>
                </div>
              
            </td>

        </tr>

    {{/each}}
    </tbody>
    
</table>
    
{{> paginator }}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
            {{l10n "Reset Device"}}
        </h4>
      </div>
      <div class="modal-body">
          <strong>{{l10n "Please confirm and press Procees to proceed"}}</strong>
          <p></p>
          <ul>
              <li>{{l10n "The user will be logged out from all devices."}}</li>
          </ul>

          <p>{{l10n "If multiple device option is not allowed in settings"}}</p>

          <ul>
              <li>{{l10n "Cache will be wiped from current device when anyone tried to sign in again from the device."}}</li>
              <li>{{l10n "The device will be added to block list."}}</li>
              <li>{{l10n "The user can sign in again with another device."}}</li>
          </ul>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{l10n "Close"}}</button>
        <a id="btnResetDevice" href="#" class="btn btn-primary">{{l10n "Procees"}}</a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
     
    $(document).ready(function() {

        $('#btn-clear').on('click',function(){
            
            $('#tb-keyword').val('');     
            $('#searchform').submit();   
         
        });

        $('#chk-showUsersWithoutDepartments').on('change', function() {

            $('#searchform').submit();    

        });

    });

    function openModal(id){

        $('#btnResetDevice').attr('href',"/admin/user/resetDevice/" + id);

        $('#myModal').modal({
            keyboard: false
        })

    }
        
</script>