<ol class="breadcrumb">
    <li><a href="/admin/home">{{l10n "Home"}}</a></li>
    <li class="active">{{l10n "Settings"}}</li>
</ol>

<h1 style="max-width:50%; display: inline-block;">{{l10n "Settings"}}</h1>

<hr>

{{> alertMessage }}

<form method="post" action="/admin/settings">

  <div class="form-group">
    <label for="input5">{{l10n "Use multiple device"}}</label>
    <br/>
    <label class="radio-inline">
      <input type="radio" name="allowMultipleDevices" id="status1" value="1" {{{checkedIfEqual formValues.allowMultipleDevices 1}}} /> {{l10n "Allow"}}
    </label>
    <label class="radio-inline">
      <input type="radio" name="allowMultipleDevices" id="status0" value="0" {{{checkedIfEqual formValues.allowMultipleDevices 0}}} /> {{l10n "Refuse"}}
    </label>
  </div>

  
  <button type="submit" class="btnSend pull-right">
      <i class="fa fa-floppy-o" style="margin-right:10px;"></i>
      {{l10n "Save"}}
  </button>

</form>