<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/admin/home">{{l10n "Home"}}</a>
  </li>
  <li class="breadcrumb-item">
    <a href="/admin/department/list">{{l10n "Department Management"}}</a>
  </li>
  <li class="breadcrumb-item active">{{l10n "Edit"}}</li>
</ol>

<header class="header bg-ui-general">
  <div class="header-info">
    <h1 class="header-title">
      {{l10n "Editing Department"}}
      <small>{{formValues.name}}</small>
    </h1>
  </div>
</header>

<hr> {{> alertMessage }}

<div class="row">

  <div class="col-12">

    <div class="card">

      <div class="card-body">

        <form method="post" action="/admin/department/edit/{{formValues._id}}" enctype="multipart/form-data">
          <input type="hidden" name="_id" class="form-control" value="{{formValues._id}}">

          <div class="form-group">
            <label for="input1">{{l10n "Department Name"}}</label>
            <input type="text" name="name" class="form-control" id="text1" placeholder="{{l10n "Name"}}" value="{{formValues.name}}">
          </div>

          <div class="form-group">
            <label for="sortName">{{l10n "Sort Department Name"}}</label>
            <input type="text" name="sortName" class="form-control" id="sortName" placeholder="{{l10n "Sort Name"}}" value="{{formValues.sortName}}">
            <p class="help-block">{{l10n "This name will be used for sorting data."}}</p>
          </div>

          <div class="form-group">
            <label for="input2">{{l10n "Description"}}</label>
            <textarea rows="4" name="description" class="form-control" placeholder="{{l10n "Description"}}">{{formValues.description}}</textarea>
          </div>

          <div class="form-group">
            <label for="input3">{{l10n "Parent Department"}}</label>
            <br/>

            <select name="parentId">
              {{#if formValues.organizationAdmin}}
                <option value=""></option>
              {{/if}}

              {{#each formValues.departmentList}}
                <option value="{{_id}}" {{{selectedIfEqual ../formValues.parentId _id}}}>{{name}}</option>
              {{/each}}

            </select>

          </div>

          <div class="row">

              <div class="col-md-6">
  
                <div class="form-group">
  
                  <label for="input3">{{l10n "Avatar"}}</label>
                  <br/>
  
                  {{#if formValues.avatar.thumbnail.nameOnServer}}
  
                    <div class="card">
  
                      <header class="card-header">
                        <h6 class="card-title card-title-bold">{{l10n "Uploaded Image"}}</h6>
                      </header>
  
                      <div class="card-body text-center">
                        <img class="img-fluid rounded" src="/admin/file/{{formValues.avatar.thumbnail.nameOnServer}}" />
                      </div>
  
                      <footer class="card-footer flexbox">
                        <div class="text-right flex-grow">
                          <button class="btn btn-label btn-primary" name="deleteAvatar" value="deleteAvatar">
                            <label>
                              <i class="ti-trash"></i>
                            </label>{{l10n "Delete avatar"}}
                          </button>
                        </div>
                      </footer>
  
                    </div>
  
                  {{/if}}
  
                  <div class="input-group file-group">
                    <input type="text" class="form-control file-value" placeholder="Choose file..." readonly="">
                    <input type="file" name="avatar">
                    <span class="input-group-btn">
                      <button class="btn btn-light file-browser" type="button">
                        <i class="fa fa-upload"></i>
                      </button>
                    </span>
                  </div>
  
                  <p class="help-block">{{getImageNote}}</p>
  
                </div>
  
              </div>
  
            </div>
  
            <button type="submit" class="btn btn-label btn-primary pull-right">
              <label>
                <i class="fa fa-floppy-o"></i>
              </label> {{l10n "Save"}}
            </button>

        </form>

      </div>
    </div>
  </div>
</div>