<div id="sidemenu-cover">
    
</div>

<div id="sidemenu">
    
    <div class="loginuser">
        
            <div class="img-holder">
                <img class="img-circle" src="/api/v2/avatar/user/{{loginUser.avatar.thumbnail.nameOnServer}}" />
            </div>

            <span class="user-name">{{loginUser.name}}</span><br />

            {{#unless isGuest}} <span class="user-identifier">{{loginUser.userid}}@{{organization.organizationId}}</span><br /> {{/unless}}
            
            <span class="user-description">{{loginUser.description}}</span><br />
            
            <div class="clearfix"></div>
            
    </div>
    
    {{#if isGuest}}
    
        <ul class="menu">
            
            <li><a href="javascript:void(0)" id="btn-changeprofile">
                <img src="/images/UI/edit_profile.png" />{{l10n "Change Your Name"}}
            </a></li>
                
        </ul>
        
    {{/if}}
    {{#unless isGuest}}
        <ul class="menu">
            
            <li><a href="javascript:void(0)" id="btn-search">
                <img src="/images/UI/search.png" />{{l10n "Search Message"}}
            </a></li>

            <li><a href="javascript:void(0)" id="btn-new-room">
                <img src="/images/UI/create_new_room.png" /> {{l10n "New Room"}}</a>
            </li>

            <li><a href="javascript:void(0)" id="btn-favorite">
                <img src="/images/UI/favorites.png" /> {{l10n "Favorites"}}
            </a></li>

            <li><a href="javascript:void(0)" id="btn-markall">
                <img src="/images/UI/mark_all_as_read.png" /> {{l10n "Mark all as read"}}
            </a></li>
            
            <li class="spacer">&nbsp;</li>
            
            <li><a href="javascript:void(0)" id="btn-editprofile">
                <img src="/images/UI/edit_profile.png" /> {{l10n "Edit profile"}}
            </a></li>
            
            <li><a href="javascript:void(0)" id="btn-changepassword">
                <img src="/images/UI/change_password.png" /> {{l10n "Change password"}}
            </a></li>

            
            <li><a href="javascript:void(0)" id="btn-webhook">
                <img src="/images/UI/arrows.png" /> {{l10n "WebHook"}}</a>
            </li>
            
            <li class="red-bg"><a href="javascript:void(0)" id="btn-logout">
                <img src="/images/UI/log_out.png" /> {{l10n "Log out"}}
            </a></li>
                
        </ul>
        
        <div id="submenu">

        </div>
        
    {{/unless}}
    
</div>