<div id="callingview" class="window-mini">

    <div id="voice-holder" class="img-holder">
        <img class="img-circle" src="/api/v2/avatar/user/{{callOptions.target.avatar.thumbnail.nameOnServer}}" />
        <div class="name-holder">{{callOptions.target.name}}</div>
    </div>
    
    <div id="video-holder" class="row">
        
        <div class="col-md-6">
            
            <div id="video-target"></div>
            
            <div class="userinfo">
                <img class="img-circle" src="/api/v2/avatar/user/{{callOptions.target.avatar.thumbnail.nameOnServer}}" />
                {{callOptions.target.name}}
            </div>

        </div>
        
        <div class="col-md-6">
            
            <div id="video-mine"></div>
            
            <div class="userinfo">
                <img class="img-circle" src="/api/v2/avatar/user/{{me.avatar.thumbnail.nameOnServer}}" />
                {{me.name}}
            </div>
            
        </div>

    </div>
    
    <div class="clearfix"></div>

    <div id="call-status">{{l10n "Establishing connections..."}}</div>
    
    <div class="call-media row">
        
        <div class="col-md-offset-3 col-md-2 media-btn-holder audio">
            <img id="btn-mute-audio" class="icon" status="on" src="/images/UI/voice_on.png" /><br />
            <span id="label-mute-audio">mute</span>
        </div>
        
        <div class="col-md-2 media-btn-holder video">
            <img id="btn-mute-video" class="icon" status="off" src="/images/UI/video_on.png" /><br />
            <span id="label-mute-video">video</span>
        </div>

        <div class="col-md-2 media-btn-holder">
             <img id="call-windowstate" class="icon" src="/images/UI/maximize.png"/><br />
             <span></span>
        </div>

       

    </div>
    
    <div class="call-operation">

        <img id="btn-finishcall" class="icon" src="/images/UI/end_call.png" />
        
    </div>
    
</div>