<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/owner/home">{{l10n "Home"}}</a>
    </li>
    <li class="breadcrumb-item active">{{l10n "Organization Management"}}</li>
</ol>

<header class="header bg-ui-general">
    <div class="header-info">
        <h1 class="header-title">
            {{l10n "Organization Management"}}
        </h1>
    </div>
</header>

<header class="flexbox align-items-center media-list-header bg-transparent b-0 py-16 pl-20">
    <div class="flexbox align-items-center">

        <form method="post" action="/owner/organization/search" id="searchform" class="form-inline">

                <label class="custom-control custom-checkbox">
                    {{l10n "Show disabled organizations"}} &nbsp;
                    <input type="checkbox" class="custom-control-input" name="disabledStatus" id="chk-disabledStatus" value="1" {{{checkedIfEqual disabledStatus 1}}} />
                    <span class="custom-control-indicator"></span>
                </label>

                <span class="divider-line mx-1"></span>


            <div class="form-group">
                <input type="text" name="keyword" id="tb-keyword" class="form-control" value="{{keyword}}" placeholder="{{l10n "type keyword here..."}}">
            </div>
            
            {{#if keyword}}
                <button type="button" id="btn-clear" name="clear" value="clear" class="btn btn-danger" >{{l10n "Clear"}}</button>
            {{/if}}

            <button type="submit" class="btn btn-primary btnSearch">{{l10n "Search"}}</button>
            
        </form>

    </div>

    <div>

        <button type="button"class="btn btn-label btn-primary" onClick="location.href = '/owner/organization/add';">
            <label><i class="fa fa-plus"></i></label> {{l10n "Add New"}}
        </button>

    </div>
</header>

<hr />

{{> alertMessage }}

<div class="row">
        
    {{> paginator }}

    <div class="col-12">

        <div class="card">

            <div class="card-body">

                <table class="table table-hover">
                    
                    <thead>
                        <tr>
                            <th width="5%"></th>
                            <th>{{l10n "Name"}}</th>
                            <th width="10%">{{l10n "Users"}}</th>
                            <th width="15%">{{l10n "Groups / Departments"}}</th>
                            <th width="10%">{{l10n "Rooms"}}</th>
                            <th width="15%">{{l10n "Disk Quota (GB)"}}</th>
                            <th width="15%">{{l10n "Organization ID"}}</th>
                            <th width="10%">{{l10n "Created At"}}</th>
                            <th width="10%">{{l10n "Status"}}</th>
                            <th width="5%"></th>
                        </tr>
                    </thead>
                    
                    <tbody>
                    {{#each list}}
                        <tr>
                            <td>
                                <img class="list-thumbnail img-rounded" src="/owner/file/{{logo.thumbnail.nameOnServer}}" />
                            </td>
                            <td class="list-edit-link">
                                <a href="/owner/organization/edit/{{_id}}">
                                    <strong>{{name}}</strong>
                                </a>
                                <br/>
                                <span class="small">{{_id}}</span>
                            </td>
                            {{{formatTableData userCount maxUserNumber}}}
                            {{{formatTableData groupCount maxGroupNumber}}}
                            {{{formatTableData roomCount maxRoomNumber}}}
                            {{{formatTableData disk.diskUsage disk.diskQuota}}}
                            <td>{{organizationId}}</td>
                            <td>{{formatDate created}}</td>
                            <td>{{getStatusName status}}</td>
                    
                            <td class="text-right" colspan="2">
                                <div class="dropdown table-action">
                                    
                                    <span class="dropdown-toggle no-caret hover-primary" data-toggle="dropdown" aria-expanded="false">
                                        <i class="ti-more-alt rotate-90"></i>
                                    </span>

                                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; top: 21px; left: 20px; will-change: top, left;">
                                        <a class="dropdown-item" href="/owner/organization/edit/{{_id}}"><i class="ti-pencil"></i>{{l10n "Edit"}}</a>
                                    </div>

                                </div>
                            </td>

                        </tr>
                    {{/each}}
                    </tbody>
                    
                </table>
    

            </div>

        </div>

    </div>

</div>

{{> paginator }}

<script type="text/javascript">
     
    $(document).ready(function() {

        $('#btn-clear').on('click',function(){
            
            $('#tb-keyword').val('');     
            $('#searchform').submit();   
         
        });
        
        $('#chk-disabledStatus').on('change', function() {

            $('#searchform').submit();    

        });

    });
        
</script>