
<div id="view-signup">

    <div class="col-md-6 col-sm-12 finish fixscreenbase">
         
         <div class="logo-container">
            
            <img src="/images/UI/logo.png" />
            
            <div class="thankyou">
                <div class="title">{{l10n "Thank you for signin up to Spika !"}}</div>
                <div class="text">{{l10n "Your Spika team!"}}</div>
            </div>
            
         </div>
         
         <img id="teamimage" src="/assets/front/images/team.png" />

         <div class="follow">{{l10n "Follow next steps to continue!"}}</div>
         
    </div>
     
    <div class="col-md-6 hidden-sm tutorial fixscreen">

        <div id="slider">
            <ul>
                <li>
                    <div class="textsmall">{{l10n "Step 1:"}}</div>
                    <div class="textbig">{{l10n "Create User Accounts"}}</div>

                    <img src="/assets/front/images/add_user.gif" />
                </li>
                <li>
                    <div class="textsmall">{{l10n "Step 2:"}}</div>
                    <div class="textbig">{{l10n "Copy URL to employees"}}</div>

                    <img src="/assets/front/images/copy_url.gif" />

                    <div class="signupurl">
                        <span>{{l10n "Copy URL:"}}</span>
                        <input type="text" class="url" value="{{copyURL}}" readonly="readonly" />
                    </div>
                </li>
                <li>
                    <div class="textsmall">{{l10n "Step 3:"}}</div>
                    <div class="textbig">{{l10n "Download spika for business"}}</div>

                    <div class="download">
                        <a href="#">
                            <img src="/assets/front/images/app_store.png" />
                        </a>
                        <br/>                 
                        <a href="https://spika.chat/downloads">
                            <img src="/assets/front/images/google_play.png" />                   
                        </a>  
                        <br/>                                                     
                        <a href="https://spika.chat/downloads">
                            <img src="/assets/front/images/web_client.png" />                    
                        </a>                 
                        <br/>                 
                        <a href="{{adminURL}}">
                            <img src="/assets/front/images/admin.png" />
                        </a>                 
                    </div>
                </li>
            </ul>  
              
        </div>  


        <div class="btn-holder">
            <button type="button" id="nextStep" class="btn btn-step btn-lg outline btn-block">{{l10n "Next step"}}</button>
            <div class="textbig" id="lastStep">{{l10n "Enjoy using Spika! ;)"}}</div>
        </div>

        <div id="slider-dots">
            <ul>
                <li id="dot1"></li>
                <li id="dot2"></li>
                <li id="dot3"></li>
            </ul>
        </div>
            
        <span class="trademark">
            &copy; 2016 Clover Studio Ltd. All rights reserved 
        </span>

    </div>

</div>