<div class="row no-gutters min-h-fullscreen bg-white">
    <div class="col-md-6 col-lg-7 col-xl-8 d-none d-md-block bg-img" style="background-image: url({{AssetURL}}/img/forest.jpg)"
        data-overlay="5">

        <div class="row h-100 pl-50">
            <div class="col-md-10 col-lg-8 align-self-end">
                <img src="{{AssetURL}}/img/logo-lg-user-signup.svg" alt="...">
                <br>
                <br>
                <br>
                <h4 class="text-white">{{l10n "FAST AND SECURE ENTERPRISE MESSAGING"}}</h4>
                <p class="text-white">
                    {{l10n "Spika is a most flexible enterprise messaging app. You can customise it, change it, integrate with any other service. Spika will fits all your business demands for all business phases."}}
                </p>
                <br>
                <br>
            </div>
        </div>

    </div>

    <div class="col-md-6 col-lg-5 col-xl-4 align-self-center">
        <div class="px-80 py-30">

            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">{{l10n "Thank you !"}}</h4>
                <p>
                    {{l10n "Thank you for signin up to Spika !"}}
                    <br /> {{l10n "Your Spika team!"}}
                </p>
            </div>

            <div class="callout callout-success" role="alert">
                <h5>{{l10n "Step 1"}}</h5>
                <p>{{l10n "Create User Accounts"}}</p>
            </div>

            <img class="img-fluid" src="/assets/front/images/add_user.gif" />

            <div class="callout callout-success" role="alert">
                <h5>{{l10n "Step 2"}}</h5>
                <p>{{l10n "Send URL to employees"}}</p>
                <strong>{{copyURL}}</strong>
            </div>

            <div class="callout callout-success" role="alert">
                <h5>{{l10n "Step 3"}}</h5>
                <p>{{l10n "Download Apps"}}</p>
            </div>

            <div class="row">
                <div class="col-6">

                    <a class="btn btn-w-md btn-multiline btn-primary" href="https://itunes.apple.com/jp/app/spika-for-business/id1143027894?mt=8">
                        <i class="ti-apple fs-20"></i>
                        <br>{{l10n "iOS App"}}</a>
                </div>
                <div class="col-6">
                    <a class="btn btn-w-md btn-multiline btn-primary" href="https://play.google.com/store/apps/details?id=com.clover_studio.spikaenterprisev2&hl=en">
                        <i class="ti-android fs-20"></i>
                        <br>{{l10n "Android App"}}</a>
                </div>
                <div class="col-6">
                    <a class="btn btn-w-md btn-multiline btn-primary" href="/">
                        <i class="ti-desktop fs-20"></i>
                        <br>{{l10n "Web Client"}}</a>
                </div>
                <div class="col-6">
                    <a class="btn btn-w-md btn-multiline btn-primary" href="/admin">
                        <i class="ti-desktop fs-20"></i>
                        <br>{{l10n "Admin"}}</a>
                </div>

            </div>


            <p>{{l10n "Enjoy using Spika! ;)"}}</p>

        </div>
    </div>
</div>