<div class="row no-gutters min-h-fullscreen bg-white">
    <div class="col-md-6 col-lg-7 col-xl-8 d-none d-md-block bg-img" style="background-image: url({{AssetURL}}/img/forest.jpg)"
        data-overlay="5">

        <div class="row h-100 pl-50">
            <div class="col-md-10 col-lg-8 align-self-end">
                <img src="{{AssetURL}}/img/logo-lg-user-signup.svg" alt="...">
                <br>
                <br>
                <br>
                <h4 class="text-white">{{l10n "FAST AND SECURE ENTERPRISE MESSAGING"}}</h4>
                <p class="text-white">
                    {{l10n "Spika is a most flexible enterprise messaging app. You can customise it, change it, integrate with any other service. Spika will fits all your business demands for all business phases."}}
                </p>
                <br>
                <br>
            </div>
        </div>

    </div>

    <div class="col-md-6 col-lg-5 col-xl-4 align-self-center">
        <div class="px-80 py-30">
            <h4>{{l10n "Signup to"}}</h4>
            <p>
                <small>{{organizationName}}</small>
            </p>
            <br> {{> alertMessage }}

            <form id="mainform" method="post" class="form-type-material">

                {{!-- this line is to prevent google-s autofill  --}}
                <input style="display:none;" type="password" name="password" />

                <div class="form-group">
                    <input type="text" class="form-control" name="username" id="text-name" type="text" placeholder="{{l10n "Enter user name..."}}"
                        value="{{username}}">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" name="password" id="text-password" type="password" placeholder="{{l10n "Enter password"}}"
                        value="{{password}}">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" name="reenterPassword" id="text-reenterPassword" type="password" placeholder="{{l10n "Re-enter password"}}"
                        value="{{reenterPassword}}">
                </div>

                <div class="form-group">
                    <button class="btn btn-bold btn-block btn-primary" type="submit">{{l10n "SignUp"}}</button>
                </div>

                <p class="text-center text-muted fs-13 mt-20">{{l10n "Allready a member?"}}
                    <a class="text-primary fw-500" href="/">{{l10n "Sign in"}}</a>
                </p>

            </form>

        </div>
    </div>
</div>

<div id="view-signup">

    <div class="col-md-6 col-md-push-6 hidden-sm hidden-xs bigpicture fixscreen">

        <span class="helptext"></span>

        <img src="/assets/front/images/userSignup.png" />

        <span class="trademark">

            &copy; 2016 Clover Studio Ltd. All rights reserved

        </span>

    </div>

    <div class="col-md-6 col-sm-12 col-md-pull-6 forms fixscreens">

        <div class="logo-container">

            <img src="/images/UI/logo.png" />

            <div class="welcome">

                <div class="text">{{l10n "Signup to"}}</div>
                <div class="title">{{organizationName}}</div>

            </div>


        </div>

    </div>

    <div id="view-signup">

        <div class="col-md-6 col-sm-12 finish fixscreenbase">

            <div class="logo-container">

                <img src="/images/UI/logo.png" />

                <div class="thankyou">
                    <div class="title">{{l10n "Thank you for signin up to Spika !"}}</div>
                    <div class="text">{{l10n "Your Spika team!"}}</div>
                </div>

            </div>

            <img id="teamimage" src="/assets/front/images/team.png" />

        </div>

        <div class="col-md-6 hidden-sm tutorial fixscreen">

            <div class="download">
                <div class="textbig">{{l10n "Download spika for business"}}</div>

                <div class="download">
                    <a href="#">
                        <img src="/assets/front/images/app_store.png" />
                    </a>
                    <br/>
                    <a href="#">
                        <img src="/assets/front/images/google_play.png" />
                    </a>
                    <br/>
                    <a href="/">
                        <img src="/assets/front/images/web_client.png" />
                    </a>
                    <br/>
                </div>

                <div class="textbig btn-holder">{{l10n "Enjoy using Spika! ;)"}}</div>
            </div>

            <span class="trademark">
                &copy; 2016 Clover Studio Ltd. All rights reserved
            </span>

        </div>

    </div>