
<div  id="selectedUsers-{{identifier}}" class="selected-users">

    {{#each selectedUsers}}
    
        <div id="selected-{{_id}}" class="selected-users-row {{#unless freeze}}active{{/unless}}" uid="{{_id}}">
            
            <div class="img-holder">
                <img class="img-circle" src="/api/v2/avatar/user/{{avatar.thumbnail.nameOnServer}}" />
            </div>

            <span class="user-name">{{name}}</span>
            
            {{#unless freeze}}
                <i class="fa fa-times"></i>
            {{/unless}}
            
            <div class="clearfix"></div>
            
        </div>

    {{/each}}
    
</div>

<input type="text" id="tb-{{identifier}}" class="form-control" name="users-input" placeholder="{{l10n "Type User Name"}}">
