 
 <div id="view-login">

     <div class="col-md-6 col-md-push-6 hidden-sm hidden-xs bigpicture">
         
         <img src="/images/UI/world.png" />
         
         <span class="trademark">
            
            &copy; 2016 Clover Studio Ltd. All rights reserved
                
         </span>
         
     </div>
     
     <div class="col-md-6 col-sm-12 col-md-pull-6 forms">
         
         <div class="logo-container">
            
            <img src="/images/UI/logo.png" />
            
            <div class="welcome">
                <div class="text">{{l10n "Welcome to"}}</div>
                <div class="title">Spika for Business: Web Client</div>
            </div>
                
         </div>

         <div class="form-container">
            
            <div id="alert-error" class="alert alert-danger" style="display:none" role="alert">
                <strong id="error-title">{{l10n "Failed to login"}}</strong><br />
                <span id="error-desc"> {{l10n "Please input correct login credentials."}} </span>
            </div>

            <input class="form-control" name="activationCode" id="tb-activationCode" type="text" placeholder="{{l10n "Enter activation code..."}}" autofocus="autofocus">

            <button id="btn-login" type="submit" class="btn-primary btn-block btn-lg Loginbutton"> <i class="fa fa-cog fa-spin hide"></i> {{l10n "Login"}} </button>
    
         </div>
    
     </div>

</div>