<p>
    {{l10n "Please input url to send WebHook request."}}
</p>

<input type="text" id="tb-url" class="form-control" placeholder="{{l10n "Please enter url."}}"/><br />

<p>{{l10n "Select room to send from."}}</p>
<select id="target-id" class="form-control">

    {{#each rooms}}
        <option value="{{_id}}">{{l10n "Room :"}} {{name}}</option>
     {{/each}}
     
</select>

