
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive admin dashboard and web application ui kit. ">
    <meta name="keywords" content="blank, starter">

    <title>{{l10n "Spika For Business Admin"}}</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300i" rel="stylesheet">

    <!-- Styles -->
    <link href="{{AssetURL}}/css/core.min.css" rel="stylesheet">
    <link href="{{AssetURL}}/css/app.min.css" rel="stylesheet">
    <link href="{{AssetURL}}/css/style.min.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="{{AssetURL}}/img/apple-touch-icon.png">
    <link rel="icon" href="{{AssetURL}}/img/favicon.png">
  </head>

  <body>

    <!-- Preloader -->
    <div class="preloader">
      <div class="spinner-dots">
        <span class="dot1"></span>
        <span class="dot2"></span>
        <span class="dot3"></span>
      </div>
    </div>

    <!-- Sidebar -->
    <aside class="sidebar sidebar-icons-right sidebar-icons-boxed sidebar-expand-lg">
      <header class="sidebar-header">
        <a class="logo-icon" href="../index.html"><img src="{{AssetURL}}/img/logo-icon-light.png" alt="logo icon"></a>
        <span class="logo">
          <a href="../index.html"><img src="{{AssetURL}}/img/logo-light.png" alt="logo"></a>
        </span>
        <span class="sidebar-toggle-fold"></span>
      </header>

      <nav class="sidebar-navigation">
        <ul class="menu">

          <li class="menu-category">Category 1</li>

          <li class="menu-item active">
            <a class="menu-link" href="../dashboard/general.html">
              <span class="icon fa fa-home"></span>
              <span class="title">Dashboard</span>
            </a>
          </li>

          <li class="menu-item">
            <a class="menu-link" href="#">
              <span class="icon fa fa-user"></span>
              <span class="title">Users</span>
              <span class="arrow"></span>
            </a>

            <ul class="menu-submenu">
              <li class="menu-item">
                <a class="menu-link" href="#">
                  <span class="dot"></span>
                  <span class="title">Moderators</span>
                </a>
              </li>

              <li class="menu-item">
                <a class="menu-link" href="#">
                  <span class="dot"></span>
                  <span class="title">Customers</span>
                </a>
              </li>
            </ul>
          </li>



          <li class="menu-category">Category 2</li>


          <li class="menu-item">
            <a class="menu-link" href="#">
              <span class="icon ti-layout"></span>
              <span class="title">Layout</span>
              <span class="arrow"></span>
            </a>

            <ul class="menu-submenu">
              <li class="menu-item">
                <a class="menu-link" href="#">
                  <span class="dot"></span>
                  <span class="title">Sidebar</span>
                </a>
              </li>

              <li class="menu-item">
                <a class="menu-link" href="#">
                  <span class="dot"></span>
                  <span class="title">Header</span>
                </a>
              </li>

              <li class="menu-item">
                <a class="menu-link" href="#">
                  <span class="dot"></span>
                  <span class="title">Footer</span>
                </a>
              </li>
            </ul>
          </li>

        </ul>
      </nav>

    </aside>
    <!-- END Sidebar -->


    <!-- Topbar -->
    <header class="topbar">
      <div class="topbar-left">
        <span class="topbar-btn sidebar-toggler"><i>&#9776;</i></span>
      </div>

      <div class="topbar-right">
        <ul class="topbar-btns">

          <!-- Notifications -->
          <li class="dropdown d-none d-md-block">
            <span class="topbar-btn has-new" data-toggle="dropdown"><i class="ti-bell"></i></span>
            <div class="dropdown-menu dropdown-menu-right">

              <div class="media-list media-list-hover media-list-divided media-list-xs">
                <a class="media media-new" href="#">
                  <span class="avatar bg-success"><i class="ti-user"></i></span>
                  <div class="media-body">
                    <p>New user registered</p>
                    <time datetime="2017-07-14 20:00">Just now</time>
                  </div>
                </a>

                <a class="media" href="#">
                  <span class="avatar bg-info"><i class="ti-shopping-cart"></i></span>
                  <div class="media-body">
                    <p>New order received</p>
                    <time datetime="2017-07-14 20:00">2 min ago</time>
                  </div>
                </a>

                <a class="media" href="#">
                  <span class="avatar bg-warning"><i class="ti-face-sad"></i></span>
                  <div class="media-body">
                    <p>Refund request from <b>Ashlyn Culotta</b></p>
                    <time datetime="2017-07-14 20:00">24 min ago</time>
                  </div>
                </a>

                <a class="media" href="#">
                  <span class="avatar bg-primary"><i class="ti-money"></i></span>
                  <div class="media-body">
                    <p>New payment has made through PayPal</p>
                    <time datetime="2017-07-14 20:00">53 min ago</time>
                  </div>
                </a>
              </div>

              <div class="dropdown-footer">
                <div class="left">
                  <a href="#">Read all notifications</a>
                </div>

                <div class="right">
                  <a href="#" data-provide="tooltip" title="Mark all as read"><i class="fa fa-circle-o"></i></a>
                  <a href="#" data-provide="tooltip" title="Update"><i class="fa fa-repeat"></i></a>
                  <a href="#" data-provide="tooltip" title="Settings"><i class="fa fa-gear"></i></a>
                </div>
              </div>

            </div>
          </li>
          <!-- END Notifications -->

        </ul>

      </div>
    </header>
    <!-- END Topbar -->


    <!-- Main container -->
    <main class="main-container">
      <div class="main-content">


        <div class="card">
          <h4 class="card-title">Card title</h4>

          <div class="card-body">

          </div>
        </div>


      </div><!--/.main-content -->


      <!-- Footer -->
      <footer class="site-footer">
        <div class="row">
          <div class="col-md-6">
            <p class="text-center text-md-left">Copyright © 2017 <a href="http://thetheme.io/theadmin">TheAdmin</a>. All rights reserved.</p>
          </div>

          <div class="col-md-6">
            <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
              <li class="nav-item">
                <a class="nav-link" href="../help/articles.html">Documentation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../help/faq.html">FAQ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://themeforest.net/item/theadmin-responsive-bootstrap-4-admin-dashboard-webapp-template/20475359?license=regular&amp;open_purchase_for_item_id=20475359&amp;purchasable=source&amp;ref=thethemeio">Purchase Now</a>
              </li>
            </ul>
          </div>
        </div>
      </footer>
      <!-- END Footer -->

    </main>
    <!-- END Main container -->



    <!-- Global quickview -->
    <div id="qv-global" class="quickview" data-url="{{AssetURL}}/data/quickview-global.html">
      <div class="spinner-linear">
        <div class="line"></div>
      </div>
    </div>
    <!-- END Global quickview -->



    <!-- Scripts -->
    <script src="{{AssetURL}}/js/core.min.js"></script>
    <script src="{{AssetURL}}/js/app.min.js"></script>
    <script src="{{AssetURL}}/js/script.min.js"></script>

  </body>
</html>




















<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{l10n "Spika For Business Admin"}}</title>
    <link href="{{AssetURL}}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{AssetURL}}/css/simple-sidebar.css" rel="stylesheet">
    <link href="{{AssetURL}}/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{AssetURL}}/css/styles.css" rel="stylesheet">
    <link href="{{AssetURL}}/css/jquery.treegrid.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="{{AssetURL}}/js/jquery-1.11.2.min.js"></script>
    <script src="{{AssetURL}}/js/bootstrap.min.js"></script>
    <script src="{{AssetURL}}/js/sidebar_menu.js"></script>
    <script src="{{AssetURL}}/js/jquery.treegrid.js"></script>
    <script src="{{AssetURL}}/js/jquery.treegrid.bootstrap3.js"></script>

</head>

<body>
    <nav class="navbar navbar-default no-margin navbar-fixed-top">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header fixed-brand">

            <button class="navbar-toggle collapsed" type="button" data-toggle="dropdown" id="menu-toggle">
                <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
            </button>

            <ul class="dropdown-menu pull-right">
                <li>
                    <a>{{l10n "User:"}} {{signInUserName}}</a>
                </li>

                <li>
                    <a>{{l10n "Organization:"}} {{signInOrganization}}</a>
                </li>

                <li class="divider"></li>

                <li>
                    <a href="/admin/home"><span class="fa-stack fa-lg"><i class="fa fa-dashboard fa-stack"></i></span>{{l10n "Dashboard"}}</a>
                </li>

                <li>
                    <a href="/admin/user/list"><span class="fa-stack fa-lg"><i class="fa fa-user fa-stack"></i></span>{{l10n "Users"}}</a>
                </li>

                <li>
                    <a href="/admin/group/list"><span class="fa-stack fa-lg"><i class="fa fa-users fa-stack"></i></span>{{l10n "Groups"}}</a>
                </li>

                <li>
                    <a href="/admin/department/list"><span class="fa-stack fa-lg"><i class="fa fa-sitemap fa-stack"></i></span>{{l10n "Departments"}}</a>
                </li>

                <li>
                    <a href="/admin/sticker/list"><span class="fa-stack fa-lg"><i class="fa fa-smile-o fa-stack"></i></span>{{l10n "Stickers"}}</a>
                </li>
                <li>
                    <a href="/admin/apikeys/list"><span class="fa-stack fa-lg"><i class="fa fa-smile-o fa-stack"></i></span>{{l10n "Settings"}}</a>
                </li>
                <li>
                    <a href="/admin/settings"><span class="fa-stack fa-lg"><i class="fa fa-smile-o fa-stack"></i></span>{{l10n "Settings"}}</a>
                </li>

                <li>
                    <a href="/admin/signout"><span class="fa-stack fa-lg"><i class="fa fa-sign-out fa-stack"></i></span>{{l10n "Logout"}}</a>
                </li>

            </ul>

            <a class="navbar-brand" href="#">{{l10n "Spika For Business Admin"}}</a>

        </div>

        <!-- navbar-header-->
        <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
            <div class="header-login-data">
                <label>{{l10n "User:"}} {{signInUserName}}</label><label>{{l10n "Organization:"}} {{signInOrganization}}</label>
            </div>
        </div>  

    </nav>
    
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
                
                <li {{{printIfEqual page 'home' 'class="active1"'}}}>
                    <a href="/admin/home"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x"></i></span>{{l10n "Dashboard"}}</a>
                </li>
                
                <li {{{printIfEqual page 'user-list' 'class="active1"'}}}>
                    <a href="/admin/user/list"><span class="fa-stack fa-lg pull-left"><i class="fa fa-user fa-stack-1x"></i></span>{{l10n "Users"}}</a>
                </li>

                <li {{{printIfEqual page 'group-list' 'class="active1"'}}}>
                    <a href="/admin/group/list"><span class="fa-stack fa-lg pull-left"><i class="fa fa-users fa-stack-1x"></i></span>{{l10n "Groups"}}</a>
                </li>
                
                <li {{{printIfEqual page 'department-list' 'class="active1"'}}}>
                    <a href="/admin/department/list"><span class="fa-stack fa-lg pull-left"><i class="fa fa-sitemap fa-stack-1x"></i></span>{{l10n "Departments"}}</a>
                </li>

                <li {{{printIfEqual page 'sticker-list' 'class="active1"'}}}>
                    <a href="/admin/sticker/list"><span class="fa-stack fa-lg pull-left"><i class="fa fa-smile-o fa-stack-1x"></i></span>{{l10n "Stickers"}}</a>
                </li>

                <li {{{printIfEqual page 'api-list' 'class="active1"'}}}>
                    <a href="/admin/apikey/list"><span class="fa-stack fa-lg pull-left"><i class="fa fa-key fa-stack-1x"></i></span>{{l10n "API Keys"}}</a>
                </li>

                <li {{{printIfEqual page 'webhook-list' 'class="active1"'}}}>
                    <a href="/admin/webhook/list"><span class="fa-stack fa-lg pull-left"><i class="fa fa-exchange fa-stack-1x"></i></span>{{l10n "Webhooks"}}</a>
                </li>

                <li>
                    <a href="/admin/settings"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cog fa-stack-1x"></i></span>{{l10n "Settings"}}</a>
                </li>

                <li>
                    <a href="/admin/signout"><span class="fa-stack fa-lg pull-left"><i class="fa fa-sign-out fa-stack-1x"></i></span>{{l10n "Logout"}}</a>
                </li>
                
            </ul>

        </div><!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid xyz">
                <div class="row">
                    <div class="col-lg-12">
                        
                        {{{body}}}
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    
    <script type="text/javascript">
        
        $( document ).ready(function() {
            
            {{#if openMenu}}
                $('#submanu-{{openMenu}}').show();
            {{/if}}

            $('.tree').treegrid({
                expanderExpandedClass: 'glyphicon glyphicon-minus',
                expanderCollapsedClass: 'glyphicon glyphicon-plus'
            });

        });

    </script>
    
</body>

</html>
