<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/admin/home">{{l10n "Home"}}</a>
    </li>
    <li class="active">{{l10n "Sticker Management"}}</li>
</ol>

<header class="header bg-ui-general">
    <div class="header-info">
        <h1 class="header-title">
            {{l10n "Sticker Management"}}
        </h1>
    </div>
</header>

<header class="flexbox align-items-center media-list-header bg-transparent b-0 py-16 pl-20">
    <div class="flexbox align-items-center">

        <form method="post" action="/admin/sticker/search" id="searchform" class="form-inline">

            <div class="form-group">
                <input type="text" name="keyword" id="tb-keyword" class="form-control" value="{{keyword}}" placeholder="{{l10n "type keyword here..."}}">
            </div>

            {{#if keyword}}
                <button type="button" id="btn-clear" name="clear" value="clear" class="btn btn-danger">{{l10n "Clear"}}</button>
            {{/if}}


        </form>

    </div>

    <div>

        <button class="btn btn-label btn-primary" onClick="location.href = '/admin/sticker/add';">
            <label>
                <i class="fa fa-plus"></i>
            </label> {{l10n "Add New"}}
        </button>

    </div>
</header>

<hr /> {{> alertMessage }}


<div class="row">

    {{> paginator }}

    <div class="col-12">

        <div class="card">

            <div class="card-body">

                <table class="table table-hover">

                    <thead>
                        <tr>
                            <th width="5%"></th>
                            <th>{{l10n "Name"}}</th>
                            <th width="15%">{{l10n "Description"}}</th>
                            <th width="15%">{{l10n "Created At"}}</th>
                            <th width="5%"></th>
                            <th width="5%"></th>
                        </tr>
                    </thead>

                    <tbody>
                        {{#each list}}

                            <tr>
                                <td>
                                    <img class="list-thumbnail img-rounded" src="/admin/file/{{getMainPicture pictures}}" />
                                </td>
                                <td class="list-edit-link">
                                    {{#if organizationId}}
                                        <a href="/admin/sticker/edit/{{_id}}">
                                            <strong>{{name}}</strong>
                                        </a>
                                    {{else}}
                                        <a href="/admin/sticker/view/{{_id}}">
                                            <strong>{{name}}</strong>
                                        </a>
                                    {{/if}}
                                    <br/>
                                    <span class="small">{{_id}}</span>
                                </td>
                                <td>{{description}}</td>
                                <td>{{formatDate created}}</td>

                                {{#if organizationId}}
                                    <td>
                                        <button type="button" class="btn btn-primary" onclick='location.href="/admin/sticker/edit/{{_id}}"'>{{l10n "Edit"}}</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger" onclick='location.href="/admin/sticker/delete/{{_id}}"'>{{l10n "Delete"}}</button>
                                    </td>
                                {{else}}
                                    <td></td>
                                    <td>
                                        <button type="button" class="btn btn-primary" onclick='location.href="/admin/sticker/view/{{_id}}"'>{{l10n "View"}}</button>
                                    </td>
                                {{/if}}

                            </tr>

                        {{/each}}
                    </tbody>

                </table>

            </div>

        </div>

    </div>

    {{> paginator }}

</div>


<script type="text/javascript">

    $(document).ready(function () {

        $('#btn-clear').on('click', function () {

            $('#tb-keyword').val('');
            $('#searchform').submit();

        });

    });

</script>