<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/admin/home">{{l10n "Home"}}</a>
  </li>
  <li class="breadcrumb-item">
    <a href="/admin/group/list">{{l10n "Group Management"}}</a>
  </li>
  <li class="breadcrumb-item active">{{l10n "Add New Group"}}</li>
</ol>

<header class="header bg-ui-general">
  <div class="header-info">
    <h1 class="header-title">
      {{l10n "Add New Group"}}
    </h1>
  </div>
</header>

{{> alertMessage }}

<div class="row">

  <div class="col-12">

    <div class="card">

      <div class="card-body">

        <form method="post" action="/admin/group/add" enctype="multipart/form-data">

          <div class="form-group">
            <label for="input1">{{l10n "Group Name"}}</label>
            <input type="text" name="name" class="form-control" id="text1" placeholder="{{l10n "Name"}}" value="{{formValues.name}}">
          </div>

          <div class="form-group">
            <label for="sortName">{{l10n "Sort Group Name"}}</label>
            <input type="text" name="sortName" class="form-control" id="sortName" placeholder="{{l10n "Sort Name"}}" value="{{formValues.sortName}}">
            <p class="help-block">{{l10n "This name will be used for sorting data."}}</p>
          </div>

          <div class="form-group">
            <label for="input2">{{l10n "Description"}}</label>
            <textarea rows="4" name="description" class="form-control" placeholder="{{l10n "Description"}}">{{formValues.description}}</textarea>
          </div>

          <div class="row">

            <div class="col-md-6">

              <div class="form-group">

                <label for="input3">{{l10n "Avatar"}}</label>
                <br/>

                <div class="input-group file-group">
                  <input type="text" class="form-control file-value" placeholder="Choose file..." readonly="">
                  <input type="file" name="avatar">
                  <span class="input-group-btn">
                    <button class="btn btn-light file-browser" type="button">
                      <i class="fa fa-upload"></i>
                    </button>
                  </span>
                </div>

                <p class="help-block">{{getImageNote}}</p>

              </div>

            </div>

          </div>

          <button type="submit" class="btn btn-label btn-primary pull-right">
            <label>
              <i class="fa fa-floppy-o"></i>
            </label> {{l10n "Save"}}
          </button>

        </form>

      </div>

    </div>

  </div>

</div>