
<ol class="breadcrumb">
    <li><a href="/admin/home">{{l10n "Home"}}</a></li>
    <li><a href="/admin/group/list">{{l10n "Group Management"}}</a></li>
    <li><a href="/admin/group/userlist/{{groupId}}">{{l10n "Group Members"}}</a></li>
    <li class="active">{{l10n "Add New User"}}</li>
</ol>

<h1 style="max-width:50%">{{l10n "Add New User"}}</h1>

<hr>

{{> alertMessage }}

<form method="post" action="/admin/group/userlist/add/{{groupId}}" enctype="multipart/form-data">

  {{!-- this line is to prevengroupst google-s autofill  --}}
  <input style="display:none;" type="password" name="password" />

  <div class="form-group">
    <label for="input1">{{l10n "User Name"}}</label>
    <input type="text" name="name" class="form-control" id="input1" placeholder="{{l10n "Name"}}" value="{{formValues.name}}" />
  </div>
  
  <div class="form-group">
    <label for="sortName">{{l10n "Sort User Name"}}</label>
    <input type="text" name="sortName" class="form-control" id="sortName" placeholder="{{l10n "Sort Name"}}" value="{{formValues.sortName}}">
    <p class="help-block">{{l10n "This name will be used for sorting data."}}</p>
  </div>

  <div class="form-group">
    <label for="input2">{{l10n "Description"}}</label>
    <textarea rows="4" name="description" class="form-control" placeholder="{{l10n "Description"}}">{{formValues.description}}</textarea>
  </div>

  <div class="form-group">
    <label for="input3">{{l10n "User ID"}}</label>
    <input type="text" name="userid" class="form-control" id="input2" placeholder="{{l10n "User ID"}}" value="{{formValues.userid}}" />
    <p class="help-block">{{l10n "User alphabet and numbers only. Must be more than 6 characters."}}</p>
  </div>
  
  <div class="form-group">
    <label for="input4">{{l10n "Password"}}</label>
    <input type="password" name="password" class="form-control" placeholder="{{l10n "Password"}}" value="{{formValues.password}}" />
    <p class="help-block">{{l10n "User alphabet and numbers only. Must be more than 6 characters."}}</p>
  </div>

  <div class="form-group">
    <label for="input5">{{l10n "Status"}}</label>
    <br/>
    <label class="radio-inline">
      <input type="radio" name="status" id="status1" value="1" {{{checkedIfEqual formValues.status 1}}} /> {{l10n "Enabled"}}
    </label>
    <label class="radio-inline">
      <input type="radio" name="status" id="status0" value="0" {{{checkedIfEqual formValues.status 0}}} /> {{l10n "Disabled"}}
    </label>
  </div>

  {{#if formValues.groupList}}
    <div class="form-group">
      <label for="input6">{{l10n "Groups"}}</label>
      <br/>

      {{#each formValues.groupList}}
        <label class="checkbox-inline">
          <input type="checkbox" name="groups" value="{{_id}}" {{{checkIfExisted ../formValues.groups _id}}} {{{disableIfExisted ../formValues.defaultGroups _id}}} />{{name}} 
        </label>
      {{/each}}

    </div>
  {{/if}}

  {{#if formValues.departmentList}}
    <div class="form-group">
      <label for="input6">{{l10n "Departments"}}</label>
      <br/>

      {{#each formValues.departmentList}}
        <label class="checkbox-inline">
          <input type="checkbox" name="groups" class="chk-departments" value="{{_id}}" {{{checkIfExisted ../formValues.groups _id}}} {{{disableIfExisted ../formValues.defaultGroups _id}}} />{{name}} 
        </label>
      {{/each}}

    </div>

    {{#if organizationAdmin}}
      <div class="alert alert-warning" role="alert" id="msg-departments">{{l10n "If you save a user without department, the user will not see other users in web client and app."}}</div>
    {{/if}}
  {{/if}}

  {{#if organizationAdmin}}
    <div class="form-group">
      <label for="input7">{{l10n "Permission"}}</label>
      <br/>
      <label class="radio-inline">
        <input type="radio" name="permission" value="1" {{{checkedIfEqual formValues.permission 1}}} /> {{l10n "Web Client"}}
      </label>
      {{!-- <label class="radio-inline">
        <input type="radio" name="permission" value="2" {{{checkedIfEqual formValues.permission 2}}} /> {{l10n "Organization Admin"}}
      </label> --}}
      <label class="radio-inline">
        <input type="radio" name="permission" value="3" {{{checkedIfEqual formValues.permission 3}}} /> {{l10n "Sub-Admin"}}
      </label>
    </div>
  {{/if}}

  {{#if organizationAdmin}}
    <div class="form-group">
      <label for="input3">{{l10n "Avatar"}}</label>
      <input type="file" name="file">
      <p class="help-block">{{getImageNote}}</p>
    </div>
  {{/if}}

  <button type="submit" class="btnSend pull-right">
      <i class="fa fa-floppy-o" style="margin-right:10px;"></i>
      {{l10n "Save"}}
  </button>

</form>

<script type="text/javascript">
     
  $(document).ready(function() {

    checkDepartments();

  });
  
  $('.chk-departments').on('change', function() {

    checkDepartments();

  });

  function checkDepartments() {

    var checked = false;

    $('.chk-departments').each(function(index) {
      
      var department = $('.chk-departments')[index];

      if (department.checked) {

        checked = department.checked;
        return false;

      };

    });    

    if (checked) 

      $("#msg-departments").hide();
      
    else 
       
      $("#msg-departments").show();

  }

</script>