                    <div class="col-sm-12">
                        <p>
                            {{l10n "Showing"}} {{paging.listCount}} {{l10n "of"}} {{paging.count}} {{l10n "entries"}}
                        </p> 
                            
                        <nav class="pull-right">
                            <ul class="pagination">
                                
                                {{{showPaging paging}}}

                            </ul>
                        </nav>
                    </div>
                        