                    <div class="col-sm-12 footerNav">
                        <p>
                            {{l10n "Showing"}} {{paging.listCountFrom}}-{{paging.listCountTo}} {{l10n "of"}} {{paging.count}} {{l10n "entries"}}
                        </p> 
                            
                        <nav class="pull-right paginationDiv">
                            <ul class="pagination pagination-sm" style="margin:0px">
                                
                                {{{showPaging paging}}}

                            </ul>
                        </nav>
                    </div>
                        