<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/admin/home">{{l10n "Home"}}</a>
  </li>
  <li class="breadcrumb-item">
    <a href="/admin/webhook/list">{{l10n "Webhook Management"}}</a>
  </li>
  <li class="breadcrumb-item active">{{l10n "Edit"}}</li>
</ol>

<header class="header bg-ui-general">
  <div class="header-info">
    <h1 class="header-title">
      {{l10n "Edit Webhook"}}
    </h1>
  </div>
</header>

<hr> {{> alertMessage }}

<div class="row">

  <div class="col-12">

    <div class="card">

      <div class="card-body">

        <form method="post" action="/admin/webhook/edit/{{formValues._id}}">

          <div class="form-group">
            <label for="input1">{{l10n "Webhook URL"}}</label>
            <input type="text" name="url" class="form-control" id="input1" placeholder="{{l10n "URL"}}" value="{{formValues.url}}" />
          </div>

          <div class="form-group">
            <label for="input1">{{l10n "Key"}}</label>
            <input type="text" name="key" class="form-control" id="input1" placeholder="{{l10n "Key"}}" value="{{formValues.key}}" />
          </div>

          <button type="submit" class="btn btn-label btn-primary pull-right">
            <label>
              <i class="fa fa-floppy-o"></i>
            </label> {{l10n "Save"}}
          </button>

        </form>

      </div>

    </div>

  </div>

</div>


<script type="text/javascript">

  $(document).ready(function () {


  });

</script>