<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{l10n "Spika For Business Admin"}}</title>
    <link href="{{AssetURL}}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{AssetURL}}/css/simple-sidebar.css" rel="stylesheet">
    <link href="{{AssetURL}}/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{AssetURL}}/css/styles.css" rel="stylesheet">

    <script src="{{AssetURL}}/js/jquery-1.11.2.min.js"></script>
    <script src="{{AssetURL}}/js/bootstrap.min.js"></script>
    <script src="{{AssetURL}}/js/sidebar_menu.js"></script>
    
    <style>
        body {
            background-image: url("{{AssetURL}}/images/spikaPattern.jpg");
            background-repeat: repeat;
            }
    </style>
</head>
    
<body>
    
    {{{body}}}

    <!-- /#wrapper -->
    <!-- jQuery -->

</body>

</html>
