<div class="row no-gutters min-h-fullscreen bg-white">
    <div class="col-md-6 col-lg-7 col-xl-8 d-none d-md-block bg-img" style="background-image: url({{AssetURL}}/img/forest.jpg)"
        data-overlay="5">

        <div class="row h-100 pl-50">
            <div class="col-md-10 col-lg-8 align-self-end">
                <img src="{{AssetURL}}/img/logo-light-lg.svg" alt="...">
                <br>
                <br>
                <br>
                <h4 class="text-white">{{l10n "FAST AND SECURE ENTERPRISE MESSAGING"}}</h4>
                <p class="text-white">
                    {{l10n "Spika is a most flexible enterprise messaging app. You can customise it, change it, integrate with any other service. Spika will fits all your business demands for all business phases."}}
                </p>
                <br>
                <br>
            </div>
        </div>

    </div>

    <div class="col-md-6 col-lg-5 col-xl-4 align-self-center">
        <div class="px-80 py-30">
            <h4>{{l10n "Spika for Business: Admin"}}</h4>
            <p>
                <small>{{l10n "Sign into your account"}}</small>
            </p>
            <br> {{> alertMessage }}

            <form id="mainform" method="post" class="form-type-material" onsubmit="return onSubmit()">

                <div class="form-group">
                    <input type="text" class="form-control" name="organizationId" id="text-organizationId" type="text" value="{{organizationId}}"
                        placeholder="{{l10n "Organization ID"}}">

                </div>

                <div class="form-group">
                    <input type="text" class="form-control" name="username" id="text-name" type="text" value="{{username}}" placeholder="{{l10n "Username"}}">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" name="password" id="text-password" type="password" value="{{password}}" placeholder="{{l10n "Password"}}">
                </div>

                <div class="form-group flexbox">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="chkbox-remember">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{l10n "Remember password"}}</span>
                    </label>

                    <!-- <a class="text-muted hover-primary fs-13" href="#">Forgot password?</a> -->
                </div>

                <div class="form-group">
                    <button class="btn btn-bold btn-block btn-primary" type="submit">{{l10n "Login"}}</button>
                </div>


                <p class="text-center text-muted fs-13 mt-20">{{l10n "Not allready a member?"}}
                    <button type="submit" class="btn btn-primary" name="signup" value="1">{{l10n "Sign up"}}</button>
                    <a class="text-primary fw-500" href="/signup/" {{l10n "Sign up"}}></a>
                </p>

            </form>

        </div>
    </div>
</div>

<script type="text/javascript">

    $(function () {

        var savedOrganizationId = localStorage.getItem("admin-organizationId");
        var savedUserName = localStorage.getItem("admin-loginname");
        var savedPassword = localStorage.getItem("admin-loginpassword");

        var organizationIdEnabled = false;
        var nameEnabled = false;
        var passwordEnabled = false;

        if (savedOrganizationId && savedOrganizationId != "") {
            if (!$('#text-organizationId').val()) {
                $('#text-organizationId').val(savedOrganizationId);
                organizationIdEnabled = true;
            };
        }

        if (savedPassword && savedPassword != "") {
            if (!$('#text-name').val()) {
                $('#text-password').val(savedPassword);
                passwordEnabled = true;
            };
        }

        if (savedUserName && savedUserName != "") {
            if (!$('#text-name').val()) {
                $('#text-name').val(savedUserName);
                nameEnabled = true;
            };
        }

        if (organizationIdEnabled && nameEnabled && passwordEnabled)
            $("#chkbox-remember").attr('checked', 'checked');

    });

    function onSubmit() {

        if (typeof (Storage) === "undefined")
            return false;

        if ($("#chkbox-remember").is(':checked')) {

            localStorage.setItem("admin-organizationId", $('#text-organizationId').val());
            localStorage.setItem("admin-loginname", $('#text-name').val());
            localStorage.setItem("admin-loginpassword", $('#text-password').val());

        } else {

            localStorage.setItem("admin-organizationId", "");
            localStorage.setItem("admin-loginname", "");
            localStorage.setItem("admin-loginpassword", "");

        }

        return true;
    }

</script>